
#test {
    margin-top: 20px;
    color: #1a202c;
    background-color: #e2e8f0;
}

body {
    margin-top: 20px;
    color: #10a8d6;
    text-align: left;
    background-color: #e2e8f0;
	background-image: url('/static/img/background.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e2e8f0;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.container {
    padding-right: 20px;
    padding-left: 40px;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100% !important;
}
.shadow-none {
    box-shadow: none !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

.text-center {
    text-align: center !important;
}

.home-title {
    text-transform: none;
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    line-height: 400px;

}

.login-div {
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e2e8f0;
    text-align: center !important;
}

#friends-list {
    display: flex;                   /* Use Flexbox */
    flex-wrap: wrap;                /* Allow items to wrap onto the next line */
    justify-content: space-between;  /* Space between columns */
    list-style-type: none;          /* Remove default list styles */
    padding: 0;                     /* Remove default padding */
    margin: 0;                      /* Remove default margin */
}

#friends-list li {
    width: calc(50% - 5px);        /* Set item width to 50% minus the gap */
    box-sizing: border-box;         /* Include padding and border in element's total width */
    padding: 5px;                  /* Padding for list items */
    border: 1px solid #ddd;         /* Optional border for visibility */
    border-radius: 30px;             /* Rounded corners */
    background-color: #f9f9f9;      /* Background color */
    margin-bottom: 5px;            /* Space between rows */
	text-align: center;
}

