.pos-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-title {
    text-transform: none;
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e2e8f0;
    font-size: 64px;
    line-height: 400px;
}

.box-light {
    box-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc
}

.text-light {
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc
}

.card-opacity {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    backdrop-filter: blur(15px);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    color: black;
}