services:
    # PROXY-WAF-SEGMENT ------------------------------------------------------->
    nginx:
        profiles:
            - proxy-waf
        container_name: nginx
        build:
            context: ./requirements/proxy-waf/nginx
            dockerfile: Dockerfile
        environment:
            BACKEND: ${BACKEND}
            NGINX_ALWAYS_TLS_REDIRECT: ${NGINX_ALWAYS_TLS_REDIRECT}
        ports:
            - "80:8080"
            - "443:8443"
        networks:
            proxy-waf:
                ipv4_address: 10.0.0.1
        logging:
            driver: gelf
            options:
                gelf-address: "udp://10.0.2.2:5000"
                tag: "nginx"
        restart: always

    # APP-SEGMENT ------------------------------------------------------------->
    # django:
    #     profiles:
    #         - app
    #     container_name: django
    #     build:
    #         context: ./requirements/app/django
    #         dockerfile: Dockerfile
    #     environment:
    #         SECRET_KEY: ${SECRET_KEY} 
    #         ALLOWED_HOSTS: ${ALLOWED_HOSTS} 
    #         POSTGRES_DB: ${POSTGRES_DB}
    #         POSTGRES_USER: ${POSTGRES_USER}
    #         POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    #         DB_HOST: ${DB_HOST} 
    #         DB_PORT: ${DB_PORT} 
    #         DJANGO_ADMIN_USER: ${DJANGO_ADMIN_USER} 
    #         DJANGO_ADMIN_PASS: ${DJANGO_ADMIN_PASS} 
    #     ports:
    #         - "8000:8000"
    #     # volumes:
    #     #     -
    #     networks:
    #         app:
    #             ipv4_address: 10.0.1.1
    #     logging:
    #         driver: gelf
    #         options:
    #             gelf-address: "udp://10.0.2.2:5000"
    #             tag: "django"
    #     restart: always
    #     depends_on:
    #         - postgres

    postgres:
        profiles:
            - app
        container_name: postgres
        build:
            context: ./requirements/app/postgres
            dockerfile: Dockerfile
        environment:
            APP_TOKEN: ${APP_TOKEN}
        volumes:
            - postgres:/bitnami/postgresql
        networks:
            app:
                ipv4_address: 10.0.1.2
        logging:
            driver: gelf
            options:
                gelf-address: "udp://10.0.2.2:5000"
                tag: "postgres"
        restart: always
        entrypoint: bash -c "source /entrypoint/entrypoint_wrapper.sh"

    # LOG-SYSTEM-SEGMENT ------------------------------------------------------>
    elasticsearch:
        profiles:
            - log-system
        container_name: elasticsearch
        build:
            context: ./requirements/log-system/elasticsearch/
        # entrypoint: /bin/sh -c "/tmp/setup.sh & exec /bin/tini -- /usr/local/bin/docker-entrypoint.sh"
        environment:
            LOG_SYSTEM_TOKEN: ${LOG_SYSTEM_TOKEN}
        ports:
            - 9200:9200
            - 9300:9300
        # volumes:
        #     - ./requirements/log-system/elasticsearch/conf/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro,Z
        #     - elasticsearch:/usr/share/elasticsearch/data:Z
        networks:
            log-system:
                ipv4_address: 10.0.2.1
        restart: unless-stopped
        entrypoint: bash -c "source /entrypoint/entrypoint_wrapper.sh"

    logstash:
        profiles:
            - log-system
        container_name: logstash
        build:
            context: ./requirements/log-system/logstash
        environment:
            LOG_SYSTEM_TOKEN: ${LOG_SYSTEM_TOKEN}
        ports:
            - 5000:5000/udp
            - 9600:9600
        # volumes:
        #     - ./requirements/log-system/logstash/conf/logstash.yml:/usr/share/logstash/config/logstash.yml:ro,Z
        #     - ./requirements/log-system/logstash/conf/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro,Z
        networks:
            log-system:
                ipv4_address: 10.0.2.2
        restart: unless-stopped
        depends_on:
            - elasticsearch
        entrypoint: bash -c "source /entrypoint/entrypoint_wrapper.sh"

    kibana:
        profiles:
            - log-system
        container_name: kibana
        build:
            context: ./requirements/log-system/kibana
        environment:
            LOG_SYSTEM_TOKEN: ${LOG_SYSTEM_TOKEN}
        ports:
            - 5601:5601
        # volumes:
        #     - ./requirements/log-system/kibana/conf/kibana.yml:/usr/share/kibana/config/kibana.yml:ro,Z
        networks:
            log-system:
                ipv4_address: 10.0.2.3
        restart: unless-stopped
        depends_on:
            - logstash
        entrypoint: bash -c "source /entrypoint/entrypoint_wrapper.sh"
    
    # MONITOR-SYSTEM-SEGMENT -------------------------------------------------->
    prometheus:
        profiles:
            - monitor-system
        container_name: prometheus
        build:
            context: ./requirements/monitor-system/prometheus
        volumes:
            - prometheus:/opt/bitnami/prometheus/
        ports:
            - 9090:9090
        networks:
            monitor-system:
                ipv4_address: 10.0.3.1
        restart: unless-stopped

    grafana:
        profiles:
            - monitor-system
        container_name: grafana
        build:
            context: ./requirements/monitor-system/grafana
        volumes:
            - grafana:/var/lib/grafana
        ports:
            - 3000:3000
        environment:
            GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER:-}
            GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD:-}
            DS_PROMETHEUS: ${DS_PROMETHEUS:-}
        networks:
            monitor-system:
                ipv4_address: 10.0.3.2
        restart: unless-stopped
        depends_on:
            - prometheus
        entrypoint: bash -c "source /entrypoint/entrypoint_wrapper.sh"
    
    alertmanager:
        profiles:
            - monitor-system
        container_name: alertmanager
        build:
            context: ./requirements/monitor-system/alertmanager
        ports:
            - 9093:9093
        networks:
            monitor-system:
                ipv4_address: 10.0.3.3
        restart: unless-stopped
        depends_on:
            - prometheus

    postgres-exporter:
        profiles:
            - monitor-system
        container_name: postgres-exporter
        build:
            context: ./requirements/monitor-system/postgres-exporter
        ports:
            - "9187:9187"
        environment:
            DATA_SOURCE_URI: ${DATA_SOURCE_URI:-}
            DATA_SOURCE_USER: ${POSTGRES_USER:-}
            DATA_SOURCE_PASS: ${POSTGRES_PASSWORD:-}
        networks:
            monitor-system:
                ipv4_address: 10.0.3.4
        restart: unless-stopped
        depends_on:
            - prometheus
    
    nginx-exporter:
        profiles:
            - monitor-system
        container_name: nginx-exporter
        build:
            context: ./requirements/monitor-system/nginx-exporter
        ports:
            - "9113:9113"
        # environment:
        #     DATA_SOURCE_URI: ${DATA_SOURCE_URI:-}
        #     DATA_SOURCE_USER: ${POSTGRES_USER:-}
        #     DATA_SOURCE_PASS: ${POSTGRES_PASSWORD:-}
        # volumes:
        #     - vault-data:/vault/data
        networks:
            monitor-system:
                ipv4_address: 10.0.3.5
        restart: unless-stopped
        depends_on:
            - prometheus

    # VAULT-SEGMENT ----------------------------------------------------------->
    hashicorp-vault:
        profiles:
            - vault
        container_name: hashicorp-vault
        build:
            context: ./requirements/vault/hashicorp-vault
            dockerfile: Dockerfile
        environment:
            VAULT_ADDR: http://10.0.4.1:8200
            # VAULT_CACERT: /tmp/intermediate.cert.pem
        ports:
            - 8200:8200
        volumes:
            - vault:/bitnami/vault
        networks:
            vault:
                ipv4_address: 10.0.4.1
        cap_add:
            - IPC_LOCK
        logging:
            driver: gelf
            options:
                gelf-address: "udp://10.0.2.2:5000"
                tag: "hashicorp-vault"
        restart: always
        entrypoint: /bitnami/vault/entrypoint/entrypoint_wrapper.sh
    
volumes:
    postgres:
            
    elasticsearch:

    prometheus:

    grafana:

    vault:

networks:
    proxy-waf:
        name: proxy-waf
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 10.0.0.0/24
                  gateway: 10.0.0.254

    app:
        name: app
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 10.0.1.0/24
                  gateway: 10.0.1.254

    log-system:
        name: log-system
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 10.0.2.0/24
                  gateway: 10.0.2.254

    monitor-system:
        name: monitor-system
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 10.0.3.0/24
                  gateway: 10.0.3.254

    vault:
        name: vault
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 10.0.4.0/24
                  gateway: 10.0.4.254
